<!DOCTYPE html>
<html ng-app="optionsApp" ng-csp>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <title>Salesforce Case Notifier - Options</title>
        
        <link rel="stylesheet" type="text/css" href="../css/salesforce-lightning-design-system-ltng.min.css"/>
        <link rel="stylesheet" type="text/css" href="../css/options.css">
        <link rel="stylesheet" type="text/css" href="../css/hopscotch.min.css">
        
        <script type="text/javascript" src="../js/third-party/angular.min.js"></script>
        <script type="text/javascript" src="../js/third-party/push.min.js"></script>
        <script type="text/javascript" src="../js/third-party/hopscotch.min.js"></script>
        
        <script type="text/javascript" src="../js/utils.js"></script>
        <script type="text/javascript" src="../js/constants.js"></script>
        <script type="text/javascript" src="../js/tour.js"></script>
    </head>
    <body ng-controller="OptionsController as ctrl" ng-init="ctrl.handlers.detectLoggedIn()">
        <div class="slds">
            <div class="slds-spinner_container" ng-show="ctrl.model.busy == true">
                <div role="status" class="slds-spinner slds-spinner--medium slds-spinner--brand">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>

            <!--Header-->
            <div class="slds-page-header slds-page-header--object-home">
                <div class="slds-grid">
                    <div class="slds-col slds-has-flexi-truncate">
                        <div class="slds-media slds-no-space slds-grow">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container">
                                    <img src="../img/case48.png">
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <p class="slds-text-title--caps slds-line-height--reset slds-m-top--x-small">
                                    Salesforce Case Notifier
                                </p>
                                <h1 class="slds-page-header__title slds-p-right--x-small">
                                    Options
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small ng-cloak">
                        <button id="btnLogin" class="slds-button slds-button--brand" ng-click="ctrl.handlers.loginToSalesforce()" ng-hide="ctrl.model.loggedIn || ctrl.model.loggingIn">
                            <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#lock"></use>
                            </svg>
                            Login to Salesforce
                        </button>
                        <button class="slds-button slds-button--neutral" title="Restart Tour" ng-click="ctrl.handlers.restartTour();" ng-show="ctrl.model.loggedIn">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#refresh"></use>
                            </svg>
                            Restart Tour
                        </button>
                        <button id="btnLogout" class="slds-button slds-button--brand" ng-click="ctrl.handlers.logoutFromSalesforce()" ng-show="ctrl.model.loggedIn">
                            <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#unlock"></use>
                            </svg>
                            <span ng-show="ctrl.model.tokens.display_name">{{ctrl.model.tokens.display_name}} (Logout)</span>
                            <span ng-show="!ctrl.model.tokens.display_name">Logout</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Message-->
            <div class="slds-box slds-theme--shade slds-theme--alert-texture slds-text-align--justify slds-m-around--small ng-cloak" ng-hide="ctrl.model.loggedIn || ctrl.model.loggingIn">
                <p>
                    <svg class="slds-icon slds-icon-text-warning slds-icon--x-small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
                    </svg>
                    You have not logged into Salesforce yet. Please click on the <em>Login to Salesforce</em> button on the top right corner to get started.
                </p>
            </div>

            <!--Tabs-->
            <div class="slds-tabs--default slds-m-top--medium" ng-show="ctrl.model.loggedIn">
                <ul class="slds-tabs--default__nav" role="tablist">
                    <li id="liOptions" class="slds-tabs--default__item {{ctrl.model.activeTab == 0 ? 'slds-active': null }}" title="Options" role="presentation">
                        <a class="slds-tabs--default__link" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-options" id="tab-default-options__item" ng-click="ctrl.model.activeTab = 0;">
                            <span class="slds-icon_container slds-m-right--x-small" title="Options">
                                <svg class="slds-icon slds-icon-text-default slds-icon--x-small" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#custom_apps"></use>
                                </svg>
                                <span class="slds-assistive-text">Options</span>
                            </span>
                            Options
                        </a>
                    </li>
                    <li id="liHelp" class="slds-tabs--default__item {{ctrl.model.activeTab == 1 ? 'slds-active': null }}" title="Help" role="presentation">
                        <a class="slds-tabs--default__link" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-help" id="tab-default-help__item" ng-click="ctrl.model.activeTab = 1;">
                            <span class="slds-icon_container slds-m-right--x-small" title="Help">
                                <svg class="slds-icon slds-icon-text-default slds-icon--x-small" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                                </svg>
                                <span class="slds-assistive-text">Help</span>
                            </span>
                            Help
                        </a>
                    </li>
                </ul>
                <div id="tab-default-options" class="slds-tabs--default__content" role="tabpanel" aria-labelledby="tab-default-options__item" ng-show="ctrl.model.activeTab == 0">
                    <!--New Push Topic-->
                    <h3 id="sectionPushTopics" class="slds-section-title--divider slds-m-top--small slds-m-bottom--small">
                        <svg class="slds-icon slds-icon-text-default slds-icon--x-small slds-m-right--small" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#announcement"></use>
                        </svg>New Topic
                    </h3>
                    <div class="slds-form--horizontal slds-m-bottom--x-large">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="selListView">
                                Select List View
                                <span class="has-tooltip" aria-label="Any change on a record pertaining to the selected List View will be instantly notified.">
                                    <svg class="slds-button__icon has-tooltip" aria-label="">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                                    </svg>
                                </span>
                            </label>
                            <div class="slds-form-element__control">
                                <div class="slds-select_container">
                                    <select id="selListView" class="slds-select" ng-model="ctrl.model.selectedListView" ng-change="ctrl.handlers.displaySOQL()">
                                        <option value="">--Select--</option>
                                        <option ng-repeat="lv in ctrl.model.listViews" value="{{lv.id}}">
                                            {{lv.label}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="selListView">
                                Query for Topic
                                <span class="has-tooltip" aria-label="A SOQL (Salesforce Object Query Language) query that selects the records pertaining to this List View. Well, its really not much to be concerned about. We are just showing you the query in case you are the curious kind.">
                                    <svg class="slds-button__icon">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                                    </svg>
                                </span>
                            </label>
                            <div class="slds-form-element__control">
                                <div class="slds-form-element">
                                    <div class="slds-form-element__control">
                                        <textarea id="txtSOQL" class="slds-textarea" rows="5" readonly ng-model="ctrl.model.soqlForPushTopic"></textarea>
                                        <div class="slds-box slds-theme--shade slds-theme--alert-texture ng-cloak" ng-show="ctrl.model.soqlForPushTopic !== ''">
                                            <p>
                                                <svg class="slds-icon slds-icon-text-warning slds-icon--x-small" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
                                                </svg>
                                                The original query has been normalized by removing <strong><code>relationship fields</code></strong> and <strong><code>order by</code></strong>
                                                 clauses to make it Topic friendly.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <button id="btnCreate" class="slds-button slds-button--brand" ng-disabled="ctrl.model.selectedListView == ''" ng-click="ctrl.handlers.createPushTopic()">
                                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    Create
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <!--Available Push Topics-->
                    <h3 id="sectionAvailableTopics" class="slds-section-title--divider slds-m-top--large slds-m-bottom--small">
                        <svg class="slds-icon slds-icon-text-default slds-icon--x-small slds-m-right--small" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
                        </svg>Available Topics for Subscription
                    </h3>
                    <table id="tblAvailableTopics" class="slds-table slds-table--bordered slds-table--cell-buffer slds-m-bottom--x-large">
                        <thead>
                            <tr class="slds-text-title--caps">
                                <th scope="col">
                                    <div id="divTopics" class="slds-truncate" title="Topic">Topic</div>
                                </th>
                                <th scope="col">
                                    <div id="divActions" class="slds-truncate" title="Action(s)">Action(s)</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="topic in ctrl.model.pushTopics">                                
                                <td data-label="Topic">
                                    <div class="slds-truncate" title="{{topic.Description}}">
                                        {{topic.Description}}
                                    </div>
                                </td>
                                <td data-label="Action(s)">
                                    <div class="slds-button-group" role="group">
                                        <button class="slds-button slds-button--icon-border" title="Subscribe" ng-disabled="topic.subscribed" ng-click="ctrl.handlers.subscribeToPushTopic( topic );">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#unmuted"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Subscribe</span>
                                        </button>
                                        <button class="slds-button slds-button--icon-border" title="Un-Subscribe" ng-disabled="!topic.subscribed" ng-click="ctrl.handlers.unsubscribeFromPushTopic( topic );">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#muted"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Un-Subscribe</span>
                                        </button>
                                        <button class="slds-button slds-button--icon-border" title="Delete" ng-click="ctrl.handlers.deletePushTopic( topic );">
                                            <svg class="slds-button__icon slds-icon-text-error" aria-hidden="true">
                                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="ctrl.model.pushTopics.length == 0">
                                <td colspan="2" class="slds-text-align--center">
                                    No Records to Display!
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="tab-default-help" class="slds-tabs--default__content" role="tabpanel" aria-labelledby="tab-default-help__item" ng-show="ctrl.model.activeTab == 1">
                    <!--FAQ-->
                    <h3 class="slds-section-title--divider slds-m-around--medium">
                        <svg class="slds-icon slds-icon-text-default slds-icon--x-small" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
                        </svg>
                        FAQ
                    </h3>
                    <div class="slds-section slds-is-open slds-m-around--medium">
                        <h3 class="slds-section__title">
                            <button class="slds-button slds-section__title-action" ng-click="ctrl.model.sec1expanded = !ctrl.model.sec1expanded;">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="!ctrl.model.sec1expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="ctrl.model.sec1expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>What are the permissions that I need to have on my Salesforce Account to start using this extension ?
                            </button>
                        </h3>
                        <div class="slds-section__content slds-p-around--medium" ng-show="ctrl.model.sec1expanded">
                            <p>In order to start using the Salesforce Case Notifier extension, the User logging into Salesforce via the extension should have the following permissions - </p>
                            <br/>
                            <ol>
                                <li class="slds-m-left--medium">1. System Permission &gt; <strong>API Enabled </strong>
                                    <div>
                                        <img src="../img/help/Perm_API_Enabled.png" class="slds-m-around--medium" />
                                    </div>
                                </li>
                                <li class="slds-m-left--medium slds-m-top--small">2. <strong>Read</strong> and <strong>Create</strong> Permissions on the <strong>PushTopic</strong> object 
                                    <div>
                                        <img src="../img/help/Perm_Push_Topic.png" class="slds-m-around--medium" />
                                    </div>
                                </li>
                            </ol>
                            <p>Ideally you can create a <a href="https://login.salesforce.com/?ec=302&startURL=%2F0PS%3Ftour%3Dcreate-a-permission-set%252Cedit-a-permission-set%252Cassign-a-permission-set%26setupid%3DPermSets">Permission Set</a> called <strong>Enable Salesforce Case Notifier</strong> with the above mentioned permissions and then assign the same to the respective users.</p>
                        </div>
                    </div>

                    <div class="slds-section slds-is-open slds-m-around--medium">
                        <h3 class="slds-section__title">
                            <button class="slds-button slds-section__title-action" ng-click="ctrl.model.sec2expanded = !ctrl.model.sec2expanded;">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="!ctrl.model.sec2expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="ctrl.model.sec2expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>I logged into Salesforce through the Chrome Extension and I am getting an error that says - API is disabled for this User. What next ?
                          </button>
                        </h3>
                        <div class="slds-section__content slds-p-around--medium" ng-show="ctrl.model.sec2expanded">
                            <div class="slds-text-align--center">
                                <img src="../img/help/Error_API_Disabled.png" class="slds-m-around--medium" />
                            </div>
                            <p>The extension communicates with Salesforce via the APIs. So in order to use the extension, the <strong>API Enabled</strong> System Permission has to be turned ON for your Profile.

                            <div class="slds-box slds-theme--shade slds-m-top--medium">
                                <p>
                                    <svg class="slds-icon slds-icon-text-default slds-icon--x-small" aria-hidden="true">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                                    </svg>
                                    Please contact your <em>System Administrator</em> for more help or refer the above FAQ - <em>What are the permissions that I need to have on my Salesforce Account to start using this extension ?</em>
                                </p>
                            </div>
                            
                            </p>
                        </div>
                    </div>

                    <div class="slds-section slds-is-open slds-m-around--medium">
                        <h3 class="slds-section__title">
                            <button class="slds-button slds-section__title-action" ng-click="ctrl.model.sec3expanded = !ctrl.model.sec3expanded;">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="!ctrl.model.sec3expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="ctrl.model.sec3expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>After I logged in successfully, I am seeing an error message that reads - No full access to PushTopic. What could be the reason for that ?
                          </button>
                        </h3>
                        <div class="slds-section__content slds-p-around--medium" ng-show="ctrl.model.sec3expanded">
                            <div class="slds-text-align--center">
                                <img src="../img/help/Error_Push_Topic_Access.png" class="slds-m-around--medium" />
                            </div>
                            <p>This is because your Salesforce Account doesn’t have <strong>Read</strong> permission on the PushTopic object.</p>
                            <div class="slds-box slds-theme--shade slds-m-top--medium">
                                <p>
                                    <svg class="slds-icon slds-icon-text-default slds-icon--x-small" aria-hidden="true">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                                    </svg>
                                    Please contact your <em>System Administrator</em> for more help or refer the above FAQ - <em>What are the permissions that I need to have on my Salesforce Account to start using this extension ?</em>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="slds-section slds-is-open slds-m-around--medium">
                        <h3 class="slds-section__title">
                            <button class="slds-button slds-section__title-action" ng-click="ctrl.model.sec4expanded = !ctrl.model.sec4expanded;">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="!ctrl.model.sec4expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="ctrl.model.sec4expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>I tried creating a Topic but I am facing an error saying - No full access to PushTopic. How should I proceed ?
                          </button>
                        </h3>
                        <div class="slds-section__content slds-p-around--medium" ng-show="ctrl.model.sec4expanded">
                            <div class="slds-text-align--center">
                                <img src="../img/help/Error_Push_Topic_Access.png" class="slds-m-around--medium" />
                            </div>
                            <p>This is because your Salesforce Account doesn’t have <strong>Create</strong> permission on the PushTopic object.
                            <div class="slds-box slds-theme--shade slds-m-top--medium">
                                <p>
                                    <svg class="slds-icon slds-icon-text-default slds-icon--x-small" aria-hidden="true">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                                    </svg>
                                    Please contact your <em>System Administrator</em> for more help or refer the above FAQ - <em>What are the permissions that I need to have on my Salesforce Account to start using this extension ?</em></p>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="slds-section slds-is-open slds-m-around--medium">
                        <h3 class="slds-section__title">
                            <button class="slds-button slds-section__title-action" ng-click="ctrl.model.sec5expanded = !ctrl.model.sec5expanded;">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="!ctrl.model.sec5expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="ctrl.model.sec5expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>I created a Topic accidently. How do I delete it ?
                          </button>
                        </h3>
                        <div class="slds-section__content slds-p-around--medium" ng-show="ctrl.model.sec5expanded">
                            <p>Ideally the deletion of PushTopic has to be managed by the <em>System Administrator</em> of the Salesforce instance.

                            In case your Salesforce Account has permissions to Delete a Push Topic, you can use the <strong>Delete</strong> button to remove the PushTopic.
                            </p>
                            <div class="slds-text-align--center">
                                <img src="../img/help/Delete_Push_Topic.png" class="slds-m-around--medium" />
                            </div>
                            <p>
                                If the Delete button throws the error saying - “<em>Your Salesforce Account does not have full access to the PushTopic object. Please contact your System Administrator.</em>” then it implies that your Salesforce Account does not have Delete permission on the PushTopic object and you will have to contact your System Administrator.
                            </p>
                        </div>
                    </div>

                    <div class="slds-section slds-is-open slds-m-around--medium">
                        <h3 class="slds-section__title">
                            <button class="slds-button slds-section__title-action" ng-click="ctrl.model.sec6expanded = !ctrl.model.sec6expanded;">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="!ctrl.model.sec6expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="ctrl.model.sec6expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>You folks promised there will be “instant” Desktop Notifications. But I ain’t getting any ?
                          </button>
                        </h3>
                        <div class="slds-section__content slds-p-around--medium" ng-show="ctrl.model.sec6expanded">
                            <p>After successfully creating a Topic, you will have to use the <strong>Subscribe</strong> button in order to subscribe and start listening to the channel. Please ensure you have not forgotten to do the subscription.
                            </p>
                            <div class="slds-text-align--center">
                                <img src="../img/help/Subscribe_To_Topic.png" width="70%" class="slds-m-around--medium" />
                            </div>
                        </div>
                    </div>

                    <div class="slds-section slds-is-open slds-m-around--medium">
                        <h3 class="slds-section__title">
                            <button class="slds-button slds-section__title-action" ng-click="ctrl.model.sec7expanded = !ctrl.model.sec7expanded;">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="!ctrl.model.sec7expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="ctrl.model.sec7expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>Do I have to be logged into Salesforce on any other tabs for this extension to work ?
                          </button>
                        </h3>
                        <div class="slds-section__content slds-p-around--medium" ng-show="ctrl.model.sec7expanded">
                            <p>No. You do not have to be logged into Salesforce on any other tabs for the extension to work. All you need to have is a stable <strong>Internet Connection</strong> and <strong>open</strong> Google Chrome browser.</p>
                        </div>
                    </div>

                    <div class="slds-section slds-is-open slds-m-around--medium">
                        <h3 class="slds-section__title">
                            <button class="slds-button slds-section__title-action" ng-click="ctrl.model.sec8expanded = !ctrl.model.sec8expanded;">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="!ctrl.model.sec8expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="ctrl.model.sec8expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>What happens if I update the criteria on the List View in Salesforce ?
                          </button>
                        </h3>
                        <div class="slds-section__content slds-p-around--medium" ng-show="ctrl.model.sec8expanded">
                            <p>When the List View's criteria has been updated in Salesforce, you will have to delete the Topic and re-create it again as the existing Topic will not be updated and would still be referring to the old criteria.</p>
                        </div>
                    </div>

                    <!--General-->
                    <h3 class="slds-section-title--divider slds-m-around--medium">
                        <svg class="slds-icon slds-icon-text-default slds-icon--x-small" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
                        </svg>
                        General
                    </h3>
                    <div class="slds-section slds-is-open slds-m-around--medium">
                        <h3 class="slds-section__title">
                            <button class="slds-button slds-section__title-action" ng-click="ctrl.model.sec8expanded = !ctrl.model.sec8expanded;">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="!ctrl.model.sec8expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="ctrl.model.sec8expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>Topic or PushTopic ?!? What on earth is that ? Tell me more about it.
                          </button>
                        </h3>
                        <div class="slds-section__content slds-p-around--medium" ng-show="ctrl.model.sec8expanded">
                            <p>A Topic (technically a PushTopic) lets you describe a change that might happen to a Case record and refers to any such change that you would like to be notified about. A change could be that a  Case was Closed, or a new Case was created or may be a change to one or more fields on the Case. The Topic is defined by means of a SOQL (Salesforce Object Query Language) query.</p>
                        </div>
                    </div>

                    <div class="slds-section slds-is-open slds-m-around--medium">
                        <h3 class="slds-section__title">
                            <button class="slds-button slds-section__title-action" ng-click="ctrl.model.sec9expanded = !ctrl.model.sec9expanded;">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="!ctrl.model.sec9expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="ctrl.model.sec9expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>Why did we use List Views in Salesforce ?
                          </button>
                        </h3>
                        <div class="slds-section__content slds-p-around--medium" ng-show="ctrl.model.sec9expanded">
                            <p>Not everyone would know SOQL queries and that should not stop you from creating a Topic. Thus to make things easy, you can choose one of the List Views defined on the Case object to start creating the Topic. Whenever there is change on the selected List View, say a new record pertaining to the criteria of the List View was created, you would be notified instantly. Wait! Isn't the List View that you are looking for there? All you have to do is, go to Salesforce, create the List View, refresh the Options page and you should see it here.</p>
                        </div>
                    </div>

                    <div class="slds-section slds-is-open slds-m-around--medium">
                        <h3 class="slds-section__title">
                            <button class="slds-button slds-section__title-action" ng-click="ctrl.model.sec10expanded = !ctrl.model.sec10expanded;">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="!ctrl.model.sec10expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="ctrl.model.sec10expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>How does this whole idea of instant Desktop Notification work ?</a>
                          </button>
                        </h3>
                        <div class="slds-section__content slds-p-around--medium" ng-show="ctrl.model.sec10expanded">
                            <p>
                                The extension uses  
                                <a href="//developer.salesforce.com/docs/atlas.en-us.api_streaming.meta/api_streaming/">
                                    Salesforce Streaming API
                                </a> 
                                to make the instant notifications a reality.
                            </p>
                        </div>
                    </div>

                    <div class="slds-section slds-is-open slds-m-around--medium">
                        <h3 class="slds-section__title">
                            <button class="slds-button slds-section__title-action" ng-click="ctrl.model.sec11expanded = !ctrl.model.sec11expanded;">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="!ctrl.model.sec11expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true" ng-show="ctrl.model.sec11expanded">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                                </svg>Can I get the Source Code for this project ?
                          </button>
                        </h3>
                        <div class="slds-section__content slds-p-around--medium" ng-show="ctrl.model.sec11expanded">
                            <p>
                                Unfortunately not at this point in time but we will soon make the Source Code available soon on a public <strong>GitHub</strong> repo. So keep an eye on this section ;-)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="../js/options.js"></script>
    </body>
</html>