<!DOCTYPE html>
<html ng-app="popupApp">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Salesforce Case Notifier - Popup</title>

        <link rel="stylesheet" type="text/css" href="../css/salesforce-lightning-design-system-ltng.min.css"/>
        <link rel="stylesheet" type="text/css" href="../css/popup.css">

        <script type="text/javascript" src="../js/third-party/angular.min.js"></script>
        <script type="text/javascript" src="../js/third-party/push.min.js"></script>

        <script type="text/javascript" src="../js/utils.js"></script>
        <script type="text/javascript" src="../js/constants.js"></script>
    </head>
    <body>
        <div class="slds" ng-controller="PopupController as ctrl" ng-init="ctrl.handlers.detectLoggedIn()">
            <article class="slds-card">
                <!--Card Header-->
                <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media--center slds-has-flexi-truncate">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container" title="Salesforce Case Notifier v1.0">
                                <img src="../img/case48.png">
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h2>
                                <span class="slds-card__header-link slds-truncate">
                                    <span class="slds-text-heading--small">
                                        Salesforce Case Notifier
                                    </span>
                                </span>
                            </h2>
                            <div class="slds-text-body--x-small" ng-show="ctrl.model.loggedIn">
                                <em>
                                    Logged in as <strong>{{ctrl.model.tokens.display_name}}</strong>
                                </em>
                            </div>
                        </div>
                    </header>
                    <div class="slds-no-flex"></div>
                </div>
                <!--Card Body-->
                <div class="slds-card__body">
                    <!--Configure Message-->
                    <div class="slds-box slds-theme--shade slds-theme--alert-texture slds-text-align--justify slds-m-around--medium ng-cloak" ng-show="!ctrl.model.loggedIn">
                        <p>
                            <svg class="slds-icon slds-icon-text-warning slds-icon--x-small" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
                            </svg>
                            Please configure the extension via the <em>Configure</em> button at the bottom to get started.
                        </p>
                    </div>

                    <!--Configure Button-->
                    <div class="slds-text-align--center">
                        <a target="_blank" href="/assets/pages/options.html" role="button" class="slds-button slds-button--brand slds-m-around--medium ng-cloak" ng-show="!ctrl.model.loggedIn">
                            <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#custom_apps"></use>
                            </svg>
                            Configure
                        </a>
                    </div>

                    <!--Unread Cases-->
                    <div class="slds-grid slds-bckg--shade" ng-show="ctrl.model.loggedIn && ctrl.model.unreadCases.length > 1">
                        <div class="slds-col slds-p-around--x-small">
                        </div>
                        <div class="slds-col slds-p-around--x-small slds-text-align--right">
                            <svg class="slds-icon slds-icon-text-default slds-icon--x-small" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#mark_all_as_read"></use>
                            </svg>
                            <a ng-click="ctrl.handlers.markAllRead();">Mark All Read</a>
                        </div>
                    </div>
                    <ul class="slds-has-dividers--bottom-space" ng-show="ctrl.model.loggedIn && ctrl.model.unreadCases.length > 0">
                        <li class="slds-item" ng-repeat="unreadCase in ctrl.model.unreadCases track by $index" ng-show="unreadCase.read === false">
                            <div class="slds-tile slds-media">
                                <div class="slds-media__figure">
                                    <span class="slds-icon_container slds-icon-action-map slds-icon_container--circle">
                                        <img src="/assets/img/case24.png" />
                                    </span>
                                </div>
                                <div class="slds-media__body">
                                    <div class="slds-grid">
                                        <div class="slds-col">
                                            <h3 class="slds-truncate">
                                                <a ng-click="ctrl.handlers.openInSalesforce( unreadCase );" class="slds-cursor--pointer">{{unreadCase.CaseNumber}}</a>
                                            </h3>
                                            <div class="slds-tile__detail slds-text-body--small">
                                                <ul class="slds-list--horizontal slds-has-dividers--right">
                                                    <li class="slds-item" ng-show="unreadCase.Subject">{{unreadCase.Subject}}</li>
                                                    <li class="slds-item">{{unreadCase.Priority}}</li>
                                                    <li class="slds-item">{{unreadCase.Status}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="slds-col slds-text-align--right">
                                            <span class="slds-icon_container slds-icon-action-approval slds-icon_container--circle slds-m-left--small slds-fade has-tooltip slds-cursor--pointer" title="Mark as Read" ng-click="ctrl.handlers.markAsRead( unreadCase );">
                                                <svg class="slds-icon slds-icon--small" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/action-sprite/svg/symbols.svg#approval"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="slds-grid slds-bckg--shade" ng-show="ctrl.model.loggedIn && ctrl.model.unreadCases.length > 1">
                        <div class="slds-col slds-p-around--x-small"></div>
                        <div class="slds-col slds-p-around--x-small slds-text-align--right">
                            <svg class="slds-icon slds-icon-text-default slds-icon--x-small" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#mark_all_as_read"></use>
                            </svg>
                            <a ng-click="ctrl.handlers.markAllRead();">Mark All Read</a>
                        </div>
                    </div>

                    <!--No Unread Cases-->
                    <div class="slds-box slds-theme--shade slds-theme--alert-texture slds-text-align--justify slds-m-around--medium ng-cloak" ng-show="ctrl.model.loggedIn && ctrl.model.unreadCases.length === 0">
                        <p>
                            <svg class="slds-icon slds-icon-text-default slds-icon--x-small" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                            </svg>
                            No unread <em>Cases</em> found yet! Listening to {{ctrl.model.subscribedTopics.length}} topic(s).
                        </p>
                    </div>
                </div>
            </article>
        </div>
        
        <script type="text/javascript" src="../js/popup.js"></script>
    </body>
</html>