.ng-hide {
  display: none !important
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.slds .slds-spinner_container {
    position: fixed;
}

/*-----------------------------------------*/
/*-----------------Tooltip-----------------*/
/*-----------------------------------------*/
.has-tooltip {
    position: relative;
    text-align: left;
}
.has-tooltip::before {
    background: #001D4A;
    border-radius: 5px;
    color: #FFF;
    content: attr(aria-label);
    display: inline-block;
    font-weight: normal;
    left: 50%;
    margin-top: -9px;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0%);
    width: 300px;
    z-index: 2;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.lt-ie9 .has-tooltip::before {
    margin-left: -110px;
    margin-top: -41px;
    min-width: 200px;
    text-align: center;
}
.has-tooltip:hover:before,
.has-tooltip:focus:before {
    opacity: 1;
    transform: translate(-50%, -100%);
}
.has-tooltip:after {
    border: 10px solid transparent;
    border-top-color: #001D4A;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -11px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate(0, -100%);
    -webkit-transition: all 0s ease-out 0s;
    transition: all 0s ease-out 0s;
    width: 0;
    z-index: 1;
}
.has-tooltip:hover:after,
.has-tooltip:focus:after {
    opacity: 1;
    -webkit-transition: all 0.15s ease-out 0.1s;
    transition: all 0.15s ease-out 0.1s;
    transform: translate(0, 0);
}