/**
 * Generic Styles
 */
body {
    margin: 0;
    min-width: 20rem;
}

/**
 * SLDS Overrides
 */
.slds .slds-card {
    background: #fff;
    border-radius: 0;
}

.slds .slds-card__header {
    padding-bottom: 0.75rem;
    margin-bottom: 0;
    background-color: #eef1f6;
    border-bottom: 1px solid #d8dde6;
}

.slds .slds-card__body {
    margin-bottom: 0;
}

/**
 * New Classes
 */
.slds .slds-text-align--justify {
    text-align: justify;
}

.slds .slds-fade {
    opacity: 0.25;
}

.slds .slds-fade:hover {
    opacity: 1;
}

.slds .slds-bckg--shade {
    background-color: #d8dde6;
}

.slds .slds-text-body--x-small {
    font-size: 0.7rem;
}

.slds .slds-cursor--pointer {
    cursor: pointer;
}